div.listrightbloc .cart_area{background:none !important;border:none;}
#rank-0{background:url(../img/bi-shop/rank1_bg.jpg);position:relative;width:320px;overflow:visible;padding:0;float:left;margin-bottom:10px;border:1px #ccc dashed;}
#rank-0 .listphoto img{width:300px;margin:10px;}
h4.rank{float:left;margin:0 15px 5px 0;}
#rank-0 div.listrightbloc{float:none !important;width:300px;margin:10px;}
#rank-1 div.listrightbloc{float:none !important;width:320px;margin:10px;}
#rank-2 div.listrightbloc{float:none !important;width:320px;margin:10px;}
#rank-0 div.listrightbloc .cartin_btn{width:120px;float:right;}
#rank-0 div.listrightbloc .cartin .quantity{width:120px !important;float:left;}
#rank-2 div.listrightbloc .cartin_btn{width:120px;float:right;}
#rank-2 div.listrightbloc .cartin .quantity{width:120px !important;float:left;}
div.listrightbloc .cartin_btn{width:120px;float:right;margin-top:5px;}
#rank-1 div.listrightbloc .cartin .quantity{width:120px !important;float:left;}

#rank-2{float:right;width:340px;overflow:visible;padding:0;border-bottom:1px #ccc dotted;}
#rank-1{float:right;width:340px;overflow:visible;padding:0;border-bottom:1px #ccc dotted;}
#rank-1 .listphoto img{width:120px;margin:10px;}
#rank-1 div.listrightbloc ul.status_icon{width:190px;float:right;}
#rank-2 .listphoto img{width:120px;margin:10px;}
#rank-2 div.listrightbloc ul.status_icon{width:190px;float:right;}
#rank-x{clear:both;border-bottom:1px #ccc dotted;padding-bottom:10px !important;overflow:visible;margin-bottom:10px;}
#rank-x .listphoto img{width:120px;margin:10px;}
#rank-x div.listrightbloc{width:530px;float:right;}
div.listrightbloc h3{clear:both;}
#rank-0 .rank{background:url(../img/bi-shop/rank1.png) top left no-repeat;padding-left:27px;}
#rank-1 .rank{background:url(../img/bi-shop/rank2.png) top left no-repeat;padding-left:27px;}
#rank-2 .rank{background:url(../img/bi-shop/rank3.png) top left no-repeat;padding-left:27px;}
